.rating {
  display: flex;
  flex-direction: column;
}

.slider {
  width: 300px;
  margin: auto !important;
  margin-bottom: 20px;
}

.important {
  background-color: #333;
  color: lightgray;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .form-container {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    top: 50%;
    margin: auto;
  }

  .label-container {
    width: 35%;
    text-align: right;
    font-size: 25px;
  }

  .input-container {
    width: 65%;
  }
}
