.Hyph {
  margin-right: 5px;
  margin-left: 5px;
}

.Input,
.Textarea {
  max-width: 400px;
  margin: auto;
  margin-bottom: 20px;
  order: 1px solid #aaa;
  background-color: #eee;
  font-size: 0.81em;
  padding: 8px 12px;
  font-weight: bold;
}

.Input::placeholder,
.Textarea::placeholder {
  color: #ccc;
  font-size: 0.81em;
}

.Textarea {
  resize: vertical;
}

.select {
  order: 1px solid #aaa;
  background-color: #eee;
  font-size: 0.81em;
  padding: 8px 12px;
  font-weight: bold;
}

.option {
  order: 1px solid #aaa;
  background-color: #eee;
  font-size: 0.81em;
  padding: 8px 12px;
  font-weight: bold;
}

.Button {
  order: 1px solid #aaa;
  background-color: #eee;
  font-size: 0.81em;
  padding: 8px 12px;
  font-weight: bold;
}

.Required {
  color: #ca1551;
  font-family: Arial;
  font-weight: bold;
}

.Section {
  margin-left: 20px;
  margin-right: 20px;
}
.Section--list {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .Input,
  .Textarea,
  .select {
    max-width: 200px;
    margin: auto;
    margin-bottom: 20px;
    order: 1px solid #aaa;
    background-color: #eee;
    font-size: 1.1em;
    padding: 8px 12px;
    font-weight: bold;
  }
}
